
<div class="col-md-4">
  <%= render "links/new" %>

  <div class="search-form">
    <input type="text" name="search" class="search-idea" placeholder="Search Links"> 
  </div>
  
  <div class="all-links">
    <h2>My Links</h2>
    <% if @links %>
      <% @links.each do |link| %>
        <div id="link-container-<%= link.id %>" data-id="<%= link.id %>">
          <p><%= link.title %></p>
          <p><%= link.url %></p>
            <% if link.read %>
              <button type="button" class="btn-read btn btn-primary">Mark as Unread</button>
            <% else %>
              <button type="button" class="btn-read btn btn-primary">Mark as Read</button>
            <% end %>
            <%= link_to "Edit Link", edit_link_path(link), method: :get %> 
        </div>
      <% end %>
    <% end %>
  </div>
</div>