<div class="col-md-4">
  <%= render "links/new" %>

  <h2>My Links</h2>
  <% if @links %>
    <% @links.each do |link| %>
      <div class=link-container" data-id="<%= link.id %>">
        <p><%= link.title %></p>
        <p><%= link.url %></p>
        <p>
          <% if link.read %>
            <button type="button" class="btn-read-<%= link.read %> btn btn-primary">Mark as Unread</button>
          <% else %>
            <button type="button" class="btn-read-<%= link.read %> btn btn-primary">Mark as Read</button>
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>